<!DOCTYPE html>
<html>
	<head>
		<title>
			WishList
		</title>
		<link rel="stylesheet" href="/css/stile.css" />
	</head>
	<body>
		<header>
			<nav>
				<div class="navbar">
				  <div class="logo">
					<a href="/">
						<img src="/images/logo-ecommerce.png" width="9%"/>
					</a>
				  </div>
				  <ul class="nav-links">
					<li><a href="/sneakers">Sneakers</a></li>
					<li><a href="/orders">Ordini</a></li>
					<li><a href="/wishList">WishList</a></li>
				</ul>
				  <div class="buttons">
					<span th:unless="${userDetails}">
						<a href="/login" class="login-button">Login</a>
					</span>
					<span th:if="${userDetails}">
						<a href="/logout" class="login-button">Logout</a>
					</span>
					<a href="/cart" class="cart-button">Carrello</a>
				  </div>
				</div>
			  </nav>
		</header>
		<main>
			<section class="product-list">
                <h1>Sneakers nella wish list:</h1>
                <div th:if="${products==null || products.isEmpty()}">Non ci sono prodotti nel carrello!</div>
				<h2 th:unless="${products!=null}">ciao</h2>
                <ul class="product-container">
                    <li th:each="product : ${products}">
                        <div class="product">
                            <img width="10%" th:src=${product.urlImage} alt="Vestito 1">
                            <p th:text="${product.name} + ' - ' + ${product.price} + '0 $'">Sneaker</p>
							<a th:href="@{'/addProductToCart/' + ${product.id}}" class="add-to-cart">Aggiungi al carrello</a>
							<a th:href="@{'/deleteProductFromWishList/' + ${product.id}}" class="add-to-cart">Rimuovi</a>
                        </div>
                    </li>
                </ul>
            </section>
		</main>

	</body>
</html>